<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ 'assets/main.css' | absolute_url }}">
    </head>
    <body>

      <header id="header" class="clear">
        <div class="pull-left">
          <a id="header-logo" href="{{ '/frontpage' | absolute_url }}">
            <h1>Tales from the </h1>
            <img src="{{ 'assets/img/kangaroo.svg' | absolute_url }}" alt="">
            <h1> - lands</h1>
          </a>
        </div>
        <div class="pull-right">
          <div class="header-menu">
            <ul>
              <li id="options" class="header-link pull-left"></li>
            </ul>
          </div>
        </div>
      </header>

      <div class="fade-box">
        asda
      </div>
