{% include header.html %}
<div id="frontpage">
  <div id="header-section">
    <div class="header-text">
      <div class="top-row">
        <h1>Tales from the</h1>
          <img src="{{ 'assets/img/kangaroo.svg' | absolute_url }}" alt="">
        <h1> -lands</h1>
      </div>
      <h2>2017 - 2018 <div id="question">?</div></h2>
      <h3>A blog by: <span>Marcus Nilsson</span></h3>
    </div>
    <div class="down-arrow"></div>
  </div>
  <div id="post-listing">
    <a name="post-listing"></a>
    <h1>POSTS</h1><br>
    <p class="ingress">
      This is where all current posts will be displayed. For the time being they are displayed oldest to newest, left to right. As development progress with the blog, categories may come in play at a later stage.
    </p>
    <div class="author">// Marcus </div>
    <div class="post-container">
      {% assign sorted = site.posts | reverse %}
      {% for post in sorted %}

      <a  class="post" href="{{ post.url | absolute_url }}">
        <div>
          <img src="{{ post.thumbnail | absolute_url }}" alt="there is supposed to be a thumbnail here. :'(">
          <span>{{ post.title }}</span>
        </div>
      </a>

      {% endfor %}
    </div>
  </div>
</div>


{% include footer.html %}
